{% extends 'base.html' %}

{% block sadrzaj %}

<table class="table table-striped"> 
<thead class="thead-dark"> 
    <tr>
        <th scope="col">Kategorije</th>
    </tr>

</thead>
<tbody>




    {% for page in kategorije_list %}
    <td class="list-group-item">{{ page.naziv_kategorije }}</td>
    {% endfor %}


</tbody>
</table>

{% endblock %}




{% extends 'base.html' %}

{% block sadrzaj %}

<form class="form-group"  method="post">
  {% csrf_token %}

  <table class="table table-bordered table-hover">
    {{form.as_table}}

  </table>
  <input class="btn btn-primary"  type="submit" value="Submit">
</form>

{% endblock %}