{% extends 'base.html' %}

{% block sadrzaj %}

<table class="table table-striped"> 
<thead class="thead-dark"> 
    <tr>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Telefon</th>
        <th scope="col">email</th>
        <th scope="col">adresa</th>
        <th scope="col">primjedba</th>
    </tr>

</thead>
<tbody>




    {% for kupac in kupci_list %}

    <tr>
    <td >{{ kupac.ime }}</td>
    <td >{{ kupac.prezime }}</td>
    <td >{{ kupac.telefon }}</td>
    <td >{{ kupac.email }}</td>
    <td >{{ kupac.adresa }}</td>
    <td >{{ kupac.primjedba }}</td>
    </tr>
    
    {% endfor %}


</tbody>
</table>

{% endblock %}